.signUp {
  display: flex;
  padding: 20px;
}

.childDiv {
  margin-left: 35%;
  text-align: left;
}

.wrapper {
  background-color: #bbe1fa;
  width: 70%;
  margin: auto;
  margin-top: 2%;
  text-align: center;
}


